/*COMENTARIO*/
body{
    /*RGB red, green, blue*/
    Background-image: url(Imagenes/fondo.jpg);
    color:rgb(15, 0, 227); /*letra*/
    font-family:'Nunito', sans-serif;
    text-align: center;
    padding: 3px 10px;
    border: PowderBlue 5px solid;
    border-radius: 20px;
}

p{
    color:rgb(255, 0, 170);
    text-align: center;
    font-size: 150%;
}

h1{
    color:rgb(0, 0, 0);
    text-align: center;
    font-size: 180%;
}

h2{
    -webkit-text-stroke: 2px blueviolet;
    color:rgb(31, 35, 218);
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 210%;
}

h3{
    color:green;
    text-align: center;
    font-size: 180%;
}

h6{
    background-color:rgb(167, 234, 242);
    color:rgb(255, 0, 170);
    font-size: 200%;
}

img{
    width: 300px; /*ancho*/
    margin: 20px 20px;
}

a:hover {
    text-align: center;
    background-color:white;
    color: #f03636;
}

li {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(39, 21, 174);
    font-size: 150%;
}

input{
accent-color: rgb(26, 192, 186);
}

label{
    color:black;
    text-align:justify;
    font-size: 150%;
}

/*Para agregar clase, ponemos ( . ) antes del nombre*/
.titulo-web{
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    color:rgb(255, 0, 0);
    text-align: center;
    font-size: 500%;
    font-family:serif; 
}

.gato-bonito{
    width: 200px;
    
}

.listas{
    text-decoration: underline;
    text-decoration-color:palevioletred; 
}

.puntos{
    width: 200px;
    text-decoration: underline;
    text-align: center;
    text-decoration-color:palevioletred; 
}

.texto{
    color:black;
    text-align:justify;
    font-size: 150%;
}